body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 80px;
    color: #192b59;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;    
}

.nav a {
    color: #6e7ea9;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;

}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}

.grid p {
    color: #7581a1;
    font-size: 16px;
}

.grid a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;

}

.grid h3 {
    font-weight: 600;
    font-size: 20px;
    color: #192b59;
}

.grid div p span {
    font-size: 14px;
    color: #1085e4;
}

#rosalina {
    font-weight: bold;
    color: #192b59;
    font-size: 16px;
}

.subscribe div div h2 {
    color: white;
    font-weight: 600;
    
}

.subscribe div div h2 span {
    display: block;
    font-size: 14px;
    font-weight: 900;
    color:#00bffe;
}

.subscribe div div p {
    color: #dfe8ff;
    font-size: 18px;
}
.subcribe-signup-form input[type="email"] {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #b1c3ee;

}

.subcribe-signup-form button {
    background-color: #1085e4;
    color: white;
    text-transform: uppercase;
    font-size: 14x;
    border: none;
}

.subscribe {
    background-image: linear-gradient(90deg, #0a2090, #2377cd);
}

.subcribe-signup-form {
    border: 2px solid #2377cd;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}

.btn-secondary {
    background-color: #ededed;
    text-transform: uppercase;
    color: #787878;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    padding: 20px 30px;
    border: 0px solid #1085e4;
    transform: rotate(0deg); 
}

.btn-primary {
    background-color: #1085e4;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px 30px;
    border: 0px solid #1085e4;
    transform: rotate(0deg);
    transition: transform 1s 0s;
}

button:hover {
    transform: rotate(360deg);
    transition: transform 0s 1s;
}

.btn-free {
    font-weight: 400;
    font-size: 10px;
    padding: 19px 45px;
    letter-spacing: 1px;
}

.btn-transparent {
    background: none;
    padding: 15px 50px;
    border: 1px solid #7f7f7f;
    display: inline-block;
    border-radius: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600px;
}
.btn-transparent-plan {
    font-size: 11px;
}
.btn-control {
    font-size: 12px;
    font-weight: bold;
}

.btn-software {
    padding: 17px 35px;
    font-size: 11px;
    letter-spacing: 1px;
}
.btn-software-learn {
    padding: 20px 35px;
    font-size: 11px;
    letter-spacing: 1px;
}


.btn-analytics {
    padding: 18px 35px;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 400;
}

.btn-control {
    padding: 16px 55px;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn-price-active {
    padding: 16px 55px;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 500;
}

.btn-sumbit {
    letter-spacing: 2px;
    font-size: 9px;
    padding: 18px 55px;
}

.btn-subscribe {
    padding: 13px 40px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
}