body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 80px;
    color: #192b59;
    max-width: 550px;
    letter-spacing: -2px;
    line-height: 90px;
    max-height: 550px;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;    
}
.nav-item {
    padding: 0px 15px;
}
.nav a {
    color: #6e7ea9;
}
.logo {
    background-image: url('../img/logo.png');
    display: block;
    width: 181px;
    height: 50px;
}
.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;

}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}

.grid p {
    color: #7581a1;
    font-size: 16px;
}

.grid a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;

}

.grid h3 {
    font-weight: 600;
    font-size: 20px;
    color: #192b59;
}

.grid div p span {
    font-size: 14px;
    color: #1085e4;
}

#rosalina {
    font-weight: bold;
    color: #192b59;
    font-size: 16px;
}

.subscribe div div h2 {
    color: white;
    font-weight: 600;
    
}

.subscribe div div h2 span {
    display: block;
    font-size: 14px;
    font-weight: 900;
    color:#00bffe;
}

.subscribe div div p {
    color: #dfe8ff;
    font-size: 18px;
}
.subcribe-signup-form input[type="email"] {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #b1c3ee;

}

.subcribe-signup-form button {
    background-color: #1085e4;
    color: white;
    text-transform: uppercase;
    font-size: 14x;
    border: none;
}
.page-header {
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
    position: relative;
}
.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 320px;
}

.screen-header {
    background-image: url("../img/bg.png");
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 200px;
}

.subscribe {
    background-image: linear-gradient(90deg, #0a2090, #2377cd);
}

.subcribe-signup-form {
    border: 2px solid #2377cd;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}

.btn-secondary {
    background-color: #ededed;
    text-transform: uppercase;
    color: #787878;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    padding: 20px 30px;
    border: 0px solid #1085e4;
}

.btn-secondary:hover {
    background-color: #787878;
    color: #ededed;
    transition: all 100ms;
}

.btn-primary {
    display: inline-block;
    background-color: #1085e4;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px 30px;
    border: 0px solid #1085e4;
    transform: rotate(0deg);
    transition: transform 1s 0s;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
    transition: all 100ms;
}

.btn-free {
    font-weight: 400;
    font-size: 10px;
    padding: 19px 45px;
    letter-spacing: 1px;
}

.btn-transparent {
    background: none;
    padding: 15px 50px;
    border: 1px solid #7f7f7f;
    display: inline-block;
    border-radius: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600px;
}

.btn-transparent:hover {
    color: #fff;
    background-color: #7f7f7f;
    transition: all 100ms;
}
.btn-transparent-plan {
    font-size: 11px;
}
.btn-control {
    font-size: 12px;
    font-weight: bold;
}

.btn-software {
    padding: 17px 35px;
    font-size: 11px;
    letter-spacing: 1px;
}
.btn-software-learn {
    padding: 20px 35px;
    font-size: 11px;
    letter-spacing: 1px;
}


.btn-analytics {
    padding: 18px 35px;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 400;
}

.btn-control {
    padding: 16px 55px;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn-price-active {
    padding: 16px 55px;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 500;
}

.btn-sumbit {
    letter-spacing: 2px;
    font-size: 9px;
    padding: 18px 55px;
}

.btn-subscribe {
    padding: 13px 40px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.page-sponsors .wrapper ul {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 200px;
}
.page-sponsors {
    background-color: #1085e4;
    background-image: url(../img/layer.png);
    background-size: cover;
    padding: 110px 0 100px 0;
}

.page-sponsors ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-sponsors .wrapper
.nav > li {
    padding: 0px 17px;

}
.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;
}

.title-h2 {
    font-size: 50px;
    letter-spacing: -2px;
    color: #192b59;
    font-weight: 600;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    letter-spacing: 2px;
    color: #1085e4;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.title-h2-40 {
    font-size: 40px;
    letter-spacing: -1px;
    color: #192b59;
    font-weight: 600;
    line-height: 50px;
}

.title-h2-40 span {
    display: block;
    font-size: 18px;
    letter-spacing: 2px;
    color: #1085e4;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.list-counter {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}

.list-counter>li{
    font-size: 12px;
    color: #1085e4;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
}

.list-counter>li>span {
    font-size: 60px;
    letter-spacing: -2px;
    color: #bacbdc;
    display: block;
    margin-bottom: 5px;
}

.page-screen .title-h2 {
    text-align: center;
}

.page-screen {
    background-color: #edf6ff;
    padding: 70px 0 0 0;
    text-align: center;
}

.page-plan {
    text-align: center;
}

.box-price {
    display: flex;
    justify-content: space-between;
}

.box-price-item {
    background-color: #f5faff;
    padding: 60px 0 105px 0;
    flex-basis: 32%;
}

.box-price-item.active {
    background-color: #192b59;
    color: #fff;
    padding: 60px 0 105px 0;
}

.box-price-item::after {
    content: "";
    width: 65px;
    height: 100%;
    background-image: url("../img/");
}

.box-price-item ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.box-price-item ul > li{
    list-style-type: none;
    margin-bottom: 20px;
}

.box-price-item .h3-pricing {
    color: #000958;
    font-size: 60px;
}
.box-price-item .h3-pricing span {
    font-size: 20px;
}
.box-price-item .h3-pricing span:last-child {
    color: #7b8ab2;
}
.box-price-item.active .h3-pricing span:last-child {
    color: #7b8ab2;
}
.box-price-item .p-pricing-type {
    color: #0084ff;
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.box-price-item.active .p-pricing-type {
    color: #fff;
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
}



.box-price-item.active .h3-pricing {
    color: #fff;
    font-size: 60px;
}

.page-grid {
    display: grid;
    grid-template-areas: " title a b" "c a b" " c a b" " c d e" "f d e" " f g g";
}
.grid-item-title {
    grid-area: title;
}
.grid-item {
    text-align: center;
    box-shadow: 0 0 5px #f4f4f4;
}
.grid-item-1 {
    grid-area: a;
}

.grid-item-2 {
    grid-area: b;
}

.grid-item-3 {
    grid-area: c;
}

.grid-item-4 {
    grid-area: d;
}

.grid-item-5 {
    grid-area: e;
}

.grid-item-6 {
    grid-area: f;
}


.grid-item-7 {
    grid-area: g;
}
